*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#Header{
    background-color: #2E2E30;
    padding: 18px 5.2rem;   
    overflow: auto;    
}

#Header img{
    float: left;
   height: 1.5rem;  
   color: #FED136;    
}

.navbar{
    width: 98%;
}
.navbar a{   
    float: right;
    font-size: 0.95rem;
    color: #ffff;
    padding-left: 3%;
    margin-top: 2px;   
    font-family: sans-serif;     
}

.Welcome{
    background-position: center;
    background-size: cover;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    text-align: center; 
    padding: 30rem 0;
}

.Welcome h2{
    font-size: 36px;
    color: #ffff;
    margin-bottom: 2rem;
}

.Welcome h1{
    font-size: 72px;
    color: #ffff;
    margin-bottom: 4.5rem;

}

.Welcome a{
    background-color: #FFC800;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px 40px;
    text-align: center;
}

.services{
	background-color: #FFFFFF;
	width: 100%;
	float: left;
	padding:100px 0;
}

.container{
	max-width: 1170px;
	margin: auto;
}
.services .heading{
	margin-bottom: 60px;
	width: 100%;
	float: left;
}
.services .heading h1{
  text-align: center;
  font-size: 40px;
  color:#000000;
  margin-bottom: 10px;
}
.services .heading p{
    text-align: center;
    font-style: italic;
    font-size: 16px;
    color: #6c757d
}


.services .content{
	float: left;
	width: 100%;
}
.services .content .box{
	width: 33.33%;
    font-size: 50px;
	float: left;
	padding:15px;
}
.services .content .box .inner{
	padding:30px;
	text-align: center;	
}


.services .content .box .inner .icon{
	
	color:#000;
	transition: color .8s ease;
}
.services .content .box:hover .inner .icon{
	color:red;
}
.services .content .box .inner h4{
	font-size: 24px;
	font-weight: bold;
	color:#000;
	margin:20px 0;
}

.services .content .box .inner p{
	font-size:16px;
	color:#444444;
    float: left;
	line-height:24px;
}


.Portfolio{
    background-color: #F8F9FA;
    padding: 8rem 0;
    margin-top: 56px;
    font-family: sans-serif;
    text-align: center;   
}

.Portfolio h2{
	padding-top: 32%;
    font-size: 40px;
    color: #212529;      
}

.Portfolio h3{
    font-size: 16px;
    color: #6C757D;
    margin: 0 auto 25px;  
}

.boxes .box{
    width: 29%;   
    padding: 10px;
    margin: 0 1% 30px;
    padding-left: 2.9rem;
    margin-bottom: 10px;
    float: left;
}

.boxes .box img{
    width: 100%;
    vertical-align: bottom;
    
}
.boxes .box .bottom{
    background-color: #ffff;
    padding: 1.5rem;
}

.boxes .box .bottom h3{
    font-size: 24px;
    color: #212529;
}
.boxes .box .bottom p {
    font-style: italic;
    color: #6C757D;
    font-size: 16px;
}
i{
	background-color: #FFC800;
	color: white;
	border-radius: 100%;
	padding: 35px;

}

